*{
	margin:0;
	padding:0;
	list-style: none;
}
img{
	border:0;
}
/*状态栏开始*/
.state{
	width:100%;
	height:24px;
	background:#F6F6F6;
	border-bottom:1px solid #ECECEC;
}
.state .state-son{
	width:1200px;
	height:100%;
	margin:0 auto;
	line-height:24px;
	font-size:14px;
}
.state .state-son .state-left{
	float:left;
	border-right:1px solid #ECECEC;
	padding:0 10px;
	color:#888;
}
.state .iconfont{
	color:#888;
	font-size:14px;
}

.state .state-son .state-left:hover{
	color:#25B2FE;
}
.state .state-son .state-right{
	float:right;
    margin:1px 5px 0;
	color:#888;
}
.state .state-son .state-one{
	float:right;
	color:#ececec;
}
.state > ul.state-son > li{
	width:auto;
	height:auto;
	/*overflow: hidden;*/
}
.state > ul.state-son > li > a{
	color:#888;
	font-size: 12px;
}
.state > ul.state-son > li:hover > a{
	color:#25B2FE;
}
.state > ul.state-son > li.phone,.state > ul.state-son > li.load{
	float:right;
	position:relative;
	padding:0 6px;
}

/*.state > ul.state-son > li.phone:hover,.state > ul.state-son > li.load:hover{*/
	/*background:#fff;*/
/*}*/
.state > ul.state-son > li.load > a{
	color:#e40077;
}
.state > ul.state-son > li.load:hover > a{
	color:#25B2FE;
}
.state > ul.state-son > li.phone:hover > .iconfont,.state > ul.state-son > li.load:hover > .iconfont{
	color:#25B2FE;
}
.state > ul.state-son > li.load > div{
	width:170px;
	height:0;
	background:#fff;
	position: absolute;
	left:0;
	top:24px;
	z-index:10;
	overflow: hidden;
}
/*.state > ul.state-son > li.load:hover > div{*/
	/*height:120px;*/
/*}*/
.state > ul.state-son > li.load > div > a{
	display:block;
	width:140px;
	height:35px;
	border:2px solid #F6F6F6;
	color:#25B2FE;
	font-size: 14px;
	text-align: center;
	line-height: 35px;
	margin:15px 15px;
}
.state > ul.state-son > li.load > div > a:hover{
	color:#fff;
	background: #25B2FE;
}
.state > ul.state-son > li.phone > div{
	width:162px;
	height:0;
	background:#fff;
	position: absolute;
	left:0;
	top:24px;
	z-index:10;
	overflow: hidden;
	text-align: center;
	/*padding:20px 0;*/
	box-sizing: border-box;
	color:#333;
	overflow: hidden;
}
.state > ul.state-son > li.phone > div > img{
	margin-top:20px;
}
.state .state-son .state-right:hover{
	color:#25B2FE;
}
.state-son .img-one{
	float:right;
    margin-top:4px;
    margin-left:5px;
} 
.state-son .img-three{
	float:right;
	margin:4px 3px 0 15px;

} 
/*状态栏结束*/
/*搜索栏开始*/
.search{
	width:1200px;
	height:92px;
	margin:0 auto;
}
.search > a:first-child{
	display:block;
	width:auto;
	height:auto;
	float:left;
}
.search a .img-logo{
	margin-top:25px;
	float:left;
}
.search > #area{
	display:block;
	float:left;
	width:auto;
	height:auto;
	position: relative;
	z-index:990000;
}
.search > #area >  span{
    line-height:92px;
	float:left;
    margin:0 20px;
}
.search > #area > .sanjiao{
	width:0;
	height:0;
	border:5px solid rgba(0,0,0,0);
	float:left;
	margin-top:45px;
	margin-left:-10px;
	border-top:6px solid rgb(51, 51, 51);
}
.search > #area > .down{
	width:540px;
	height:0;
	background:#fff;
	position: absolute;
	left:20px;
	top:60px;
	z-index:555;
	padding:10px 20px ;
	box-sizing: border-box;
	line-height: 32px;
	font-size: 14px;
	color:#333;
	overflow: hidden;
	display:none;
}
.search > #area > .down > span.iconfont{
	/*float:right;*/
	position: absolute;
	right:10px;
	top:0;
}
.search > #area > .down > a:nth-child(2){
	color:#0085D0;
	margin-left:20px;
}
.search > #area > .down > ul{
	width:auto;
	height:auto;
	overflow: hidden;
}
.search > #area > .down > ul > li{
	float:left;
	margin:0 5px;
}
.search > #area > .down > ul > li > a{
	color:#333;
}
.search > #area > .down > ul > li > a:hover{
	color:#0085D0;
	text-decoration: underline;
}
.search .search-one{
	float:right;
	width:575px;
	height:32px;
	margin-top:15px;
	margin-right:50px;
}
.search .search-one a{
	display:block;
}
div#search{
	text-align:center;
	line-height:31px;
	width:71px;
	height:34px;
	background:#25B2FE;
	color:#fff;
}
#form input{
	width:475px;
	height:26px;
	border:1px solid #DFDFDF;
	color:#E4E4E4;
	padding:3px 12px;
}
.search .search-one #search{
	float:right;
}
.search .search-one #form{
	float:right;
}
.search .search-two{
	height:21px;
	width:575px;
	float:right;
	padding-top:5px;
	margin-top:5px;
	margin-right:50px;
	font-size:12px;
}
.search .search-two a{
    color:#888;
    margin:0 5px;
}
.search .search-two .function{
    color:#E30077;
}
.search .search-two a:hover{
    color:#25B2FE;
    text-decoration:underline;
}
.search .search-two .function:hover{
    color:#25B2FE;
    text-decoration:underline;
}
/*搜索栏结束*/
/*banner栏 top开始 */
.navigation{
	width:1200px;
	height:40px;
	margin:0 auto;
	line-height:40px;
	position:relative;
}
.navigation > a{
	display:flex;
	width:auto;
	height:100%;
	overflow: hidden;
	float:left;
}

.navigation > a > ul{
	width:100%;
	height:0;
	display:flex;
	position:absolute;
	left:0;
	top:40px;
	background:#fff;
	z-index:1000;
	overflow: hidden;
}
/*.navigation > a:hover > ul{*/
	/*height:100%;*/
/*}*/
.navigation > a > ul > li{
	float:left;
	padding:0 50px;
	color:#666666;
	font-size: 14px;
}
.navigation > a > ul > li:hover{
	color:#0085D0;
}
.navigation > a:nth-child(2) > div.triangle{
	width:0;
	height:0;
	border:6px solid rgba(0,0,0,0);
	border-bottom:6px solid #fff;
	position: absolute;
	left:24%;
	top:70%;
	z-index:100000;
	display:none;
}
.navigation > a:nth-child(3) > div.triangle{
	width:0;
	height:0;
	border:6px solid rgba(0,0,0,0);
	border-bottom:6px solid #fff;
	position: absolute;
	left:45%;
	top:70%;
	z-index:100000;
	display:none;
}
.navigation > a:nth-child(4) > div.triangle{
	width:0;
	height:0;
	border:6px solid rgba(0,0,0,0);
	border-bottom:6px solid #fff;
	position: absolute;
	left:67%;
	top:70%;
	z-index:100000;
	display:none;
}
.navigation > a:nth-child(5) > div.triangle{
	width:0;
	height:0;
	border:6px solid rgba(0,0,0,0);
	border-bottom:6px solid #fff;
	position: absolute;
	left:89%;
	top:70%;
	z-index:100000;
	display:none;
}
.navigation a .navigation-one{
	width:159px;
	height:38px;
	background:#E4E4E4;
	float:left;
	text-align:center;
	border-top:2px solid blue;
    color:#666666;
}
.navigation a .navigation-two{
	width:259px;
	height:100%;
	background:#E4E4E4;
	float:left;
	margin-left:1px;
	text-align:center;
	color:#666666;
}
/*banner栏 top结束 */
/*banner栏 left开始 */
.module{
	width:1200px;
	height:350px;
	margin:0px auto;
}

.module-one{
	width:138px;
	height:340px;
	margin-top:5px;
	margin-right:10px;
	padding:8px 10px 0 10px;
	border:1px solid #29A7FE;
    float:left;
}
.module-one ul li{
	list-style:none;
}
.module-one ul li a{
	text-align:center;
	color:#333333;
}
.module-one ul li a:hover{
	color:#25B2FE;

}
.module-one ul .li-one{
	width:138px;
	height:21px;
    padding-bottom:3px;
    font-size:12px;
    margin-left:25px;
    line-height:21px;
}
.module-one ul .li-two{
	width:138px;
	height:62px;
	border-top:1px solid #ECECEC;
	margin:0 auto;
	line-height:62px;
}
.li-two img{
  float:left;
  margin-top:20px;
  margin-left:25px;
}
/*banner栏 left结束 */
/*banner栏 middle开始 */
.banner{
	width:740px;
	height:350px;
	margin-top:5px;
	margin-right:12px;
	float:left;
	position:relative;
	overflow: hidden;
}
.banner ul{
	width:100%;
	height:100%;
}
.banner ul li{
	list-style:none;
	position:absolute;
	left:0px;
	top:0px;
	position: absolute;
	left:100%;
	top:0;
}
.banner ul li.img-one{
	left:0;
}
.banner .left{
	position: absolute;
	bottom:140px;
	left:0;
	width:30px;
	height:70px;
	z-index: 7;
	background:rgba(0,0,0,0.3);
	border-radius:0 5px 5px 0;
	text-align:center;
	line-height:70px;
	font-size:30px;
	color:#fff;
	font-family:'宋体'
}
.banner .right{
	position:absolute;
	bottom:140px;
	right:0;
	width:30px;
	height:70px;
	z-index: 7;
	background:rgba(0,0,0,0.3);
	border-radius:5px 0 0 5px;
	text-align:center;
	line-height:70px;
	font-size:30px;
	color:#fff;
	font-family:'宋体';
}
.banner .circle{
	width:140px;
	height:15px;
	position:absolute;
	left:300px;
	bottom:0;
	z-index:8;
	margin-bottom:15px;
}
.circle a{
	float:left;
	width:15px;
	height:15px;
	background:#AFAFAF;
	border-radius:50%;
	margin-right:5px;
}
.circle .circle-one{
	background:red;
}
/*banner栏 middle结束 */
/*banner栏 right开始 */
.module-three{
	width:276px;
	height:347px;
	margin-top:5px;
	border:1px solid #29A7FE;
	float:left;
	text-align:center;
}
.module-three .activity{
	width:271px;
	height:166px;
	padding-top:10px;
	padding-left:10px;
	position:relative;
}
.module-three .activity div{
	width:80px;
	height:77px;
	float:left;
	text-align:center;
	line-height:25px;
	color:#4E4E4E;
	font-famoly:"微软雅黑";
}
.module-three .activity .qiang{
	width:21px;
	height:21px;
	border-radius:50%;
	background:#E40077;
	position:absolute;
	right:40px;
	top:80px;
	color:#fff;
	font-size:14px;
	text-align:center;
	line-height:21px;
}
.module-three .activity div h5{
	font-weight:normal;
}

.module-three .pay{
	width:259px;
	height:155px;
	padding-top:15px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:10px;
}
.module-three .pay .paybox{
	width:235px;
	height:100%;
	margin:0 auto;
}
.module-three .pay a{
	float:left;
	font-size:14px;
	font-family:"微软雅黑";
	font-weight:bold;
	color:#000;
}
.module-three .pay a:hover{
	text-decoration:underline;
}
.module-three .pay b{
	float:right;
	font-size:14px;
	color:red;
}
.pay form input{
	width:223px;
	height:28px;
	padding:3px 5px;
	border:1px solid #ececec;
	margin-top:8px;
	border-radius:5px;
	color:#F1F1F1;
	font-size:14px;
}
.pay .money{
	width:237px;
	height:36px;
	margin:10px 0;
	font-size:14px;
	color:#4E4E4E;
}
.pay .money div{
	float:left;
	width:41px;
	height:34px;
	border:1px solid #ececec;
	margin:0px 2px;
	border-radius:5px;
	line-height:34px;
}
.pay .money .money-one{
	background:#E40077;
	color:#fff;
}
.pay .button{
	width:90px;
	height:35px;
	background:#33ACFB;
	color:#fff;
	margin-left:78px;
	border-radius:5px;
	font-size:16px;
	text-align:center;
	line-height:35px;
}
/*banner栏 right结束 */
/*轮播图开始*/
div.rotate{
	width:1200px;
	height:180px;
	padding:0 15px;
	background:#DFDFDF;
	margin:0 auto;
	margin-top:10px;
	position:relative;
	overflow: hidden;
	box-sizing: border-box;
}
.rotate > div.aa{
	width:1170px;
	height:160px;
	margin-top:10px;
	overflow: hidden;
}
.rotate > div.aa > ul.activity{
	width:200%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
	overflow: hidden;
}
.rotate > div.aa> ul.activity > li{
	width:285px;
	height:160px;
	float:left;
	background:#fff;
	/*margin-right:10px;*/
	margin-top:10px;
	margin-left:12px;
}
.rotate > div.aa > .activity > li > a >  .h3{
	margin-left:20px;
	padding-top:6px;
	color:#333333;
	font-size: 18px;
}
.rotate > div.aa > .activity > li > a > .h4{
	margin-left:20px;
	color:#666666;
	font-size: 14px;
}
.rotate img{
	float:right;
}
.rotate .rotate-left{
	position: absolute;
	bottom:62px;
	left:0;
	width:28px;
	height:35px;
	z-index: 7;
	background:rgba(0,0,0,0.3);
	border-radius:0 5px 5px 0;
	text-align:center;
	line-height:35px;
	font-size:26px;
	color:#fff;
	font-weight:bold;
	font-family: '宋体';
}
.rotate .rotate-right{
	position:absolute;
	bottom:62px;
	right:0;
	width:28px;
	height:35px;
	z-index: 7;
	background:rgba(0,0,0,0.3);
	border-radius:5px 0 0 5px;
	text-align:center;
	line-height:35px;
	font-size:26px;
	color:#fff;
	font-weight:bold;
	font-family: '宋体';
}
/*轮播图结束*/
/*4G专区开始*/
.area{
	width:1198px;
	height:46px;
	border:1px solid #ececec;
    margin:10px auto 0 auto;
    line-height:46px;
}
.area b{
	color:#0085D0;
	margin-left:25px;
	float:left;
}
.area a{
	color:#ccc;
	margin-right:25px;
	float:right;
}
.area a:hover{
	color:#0085D0;
	text-decoration:underline;
}
.modul{
	width:1198px;
	height:379px;
	border-right:1px solid #ececec;
	border-left:1px solid #ececec;
	border-bottom:1px solid #ececec;
	margin:0 auto;
}
.modul .modul-one{
	width:298px;
	height:100%;
	float:left;
}
.modul .modul-one img{
	width:298px;
	height:100%;
}
.modul .modul-two{
	width:299px;
	height:100%;
	float:left;
	border-left:1px solid #ececec;
}
.modul .modul-two a{
	display:block;
}
.small-one{
	width:279px;
	height:184px;
	border-bottom:1px solid #ececec;
	padding-top:5px;
	padding-left:20px;
}
.small-two{
	width:279px;
	height:184px;
	background:#EFEFEF;
	padding-top:5px;
	padding-left:20px;
}
.small-one h4{
	color:#333333;
}
.small-one h5{
	color:#6A6A6A;
	margin-top:5px;
}
.small-two h4{
	color:#E40077;
}
.small-two h5{
	color:#6A6A6A;
	margin-top:5px;
}
.modul-two img{
	float:right;
	transition:all 0.2s;
}
.modul-two img:hover{
	float:right;
	transform:translateX(-5px);
}
/*4G专区结束*/
/*买手机开始*/
.buy{
	width:1198px;
	height:46px;
	border:1px solid #ececec;
    margin:10px auto 0 auto;
    line-height:46px;
}
.buy b{
	color:#0085D0;
	margin-left:25px;
	float:left;
}
.buy a{
	color:#ccc;
	margin-right:25px;
	float:right;
}
.buy a:hover{
	color:#0085D0;
	text-decoration:underline;
}
.phonemodul{
	width:1198px;
	height:379px;
	border-left:1px solid #ececec;
	border-bottom:1px solid #ececec;
	border-right:1px solid #ececec;
	margin:0 auto;
}
.phonemodul .phone-one{
	width:298px;
	height:100%;
	float:left;
}
.phonemodul  a{
	display:block;
}
.phonemodul .phone-two{
	width:299px;
	height:100%;
	float:left;
	border-left:1px solid #ececec;
}
.phonemodul .phone-two .Selling{
	width:44px;
	height:58px;
	float:right;
	background:url("../image/jb02.gif");
	text-align:center;
	line-height:58px;
	margin-top:20px;
	color:#fff;
	font-weight:bold;
	margin-right:30px;
}
.phonemodul .phone-two .low-price{
	width:44px;
	height:58px;
	float:right;
	background:url("../image/jb03.gif");
	text-align:center;
	line-height:58px;
	margin-top:20px;
	color:#fff;
	font-weight:bold;
	margin-right:30px;
}
.phonemodul h2{
	font-size:18px;
 	color:#666666;
	margin-top:20px;
	margin-left:20px;
	font-weight:normal;
}
.phonemodul h3{
	font-size:12px;
 	color:#0094DD;
	margin-left:20px;
	font-weight:normal;
}
.phonemodul pre{
 	color:#EF33A2;
	margin-left:20px;
	margin-top:5px;
	margin-bottom:10px;
	font-size:25px;
	font-weight:normal;
}
.phonemodul img{
	float:right;
	transition: all 0.2s;
}
.phonemodul img:hover{
	transform:translateX(-5px);
}
/*买手机专区结束*/
/*业务推荐开始*/
.business{
	width:1198px;
	height:46px;
	border:1px solid #ececec;
    margin:10px auto 0 auto;
    line-height:46px;
}
.business b{
	color:#0085D0;
	margin-left:25px;
	float:left;
}
.business a{
	color:#ccc;
	margin-right:25px;
	float:right;
}
.business a:hover{
	color:#0085D0;
	text-decoration:underline;
}
.businmodul{
	width:1198px;
	height:379px;
	border-right:1px solid #ececec;
	border-left:1px solid #ececec;
	border-bottom:1px solid #ececec;
	margin:0 auto;
}
.businmodul a{
	display:block;
}
.businmodul .businmodul-one{
	width:298px;
	height:100%;
	float:left;
}
.businmodul .businmodul-two{
	width:299px;
	height:100%;
	float:left;
	border-left:1px solid #ececec;
}
.businsmall-one{
	width:279px;
	height:184px;
	border-bottom:1px solid #ececec;
	padding-top:5px;
	padding-left:20px;
}
.businsmall-two{
	width:279px;
	height:184px;
	padding-top:5px;
	padding-left:20px;
}
.businmodul-two h4{
	color:#333333;
	font-weight:normal;
}
.businmodul-two h5{
	color:#6A6A6A;
	margin-top:5px;
	font-weight:normal;
}
.businmodul-two img{
	float:right;
	transition: all 0.2s;
}
.businmodul-two img:hover{
	float:right;
	transform:translateX(-5px);
}
/*业务推荐结束*/
/*底部介绍开始*/
.notice{
	width:1198px;
	height:36px;
	border:1px solid #ececec;
    margin:10px auto;
    line-height:36px;
}
.notice .notice-one{
	float:left;
	width:75px;
	height:100%;
	margin-left:20px;
}
.notice img{
    float:left;
    margin-top:10px;
} 
.notice b{
	float:right;
    font-weight:normal;
    color:#6A6A6A;
}
.notice > div.noticebox{
	width:980px;
	height:100%;
	position: relative;
	float: left;
}
.notice > div.noticebox > div.noticeson{
	width:100%;
	height:100%;
	position: absolute;
	left:0;
	top:0;
	display: none;
}
.notice > div.noticebox > div.first{
	display:block;
}
.notice > div.noticebox > div.noticeson >  .notice-two{
	float:left;
	width:479px;
	height:100%;
	margin-left:11px;
	color:#3580BA;
}
.notice > div.noticebox > div.noticeson > .notice-two a{
	display:inline-block;
	width:314px;
	height:100%;
	color:#3580BA;
	margin-left:5px;
}
.notice > div.noticebox > div.noticeson >  .notice-two a:hover{
	color:#3580BA;
	text-decoration:underline;
}
/*.notice > div.noticebox > div.noticeson > .notice-two a{*/
	/*display:inline-block;*/
	/*width:276px;*/
	/*height:100%;*/
	/*margin-left:5px;*/
	/*color:#CFCCCC;*/
	/*!*font-weight:bold;*!*/
/*}*/
.notice .notice-four{
	float:right;
	width:auto;
	height:100%;
	margin-right:20px;
	/*color:#3580BA;*/
}
.notice .notice-four a{
	font-family: "宋体";
	font-weight: bold;
	color:#3580BA;
	margin:0 5px;
}
/*底部介绍*/
.introduce{
	width:1163px;
	height:189px;
	padding:20px 0 20px 35px;
	border:1px solid #ececec;
	margin:0 auto;
}
.introduce ul.intmodul-one{
	list-style:none;
	width:232px;
	height:100%;
	border-right:1px solid #fff;
	line-height:28px;
	float:left;
}
.introduce ul .introduce-one{
	font-weight:bold;
	font-family:"微软雅黑";
	color:#333;
}
.introduce ul .introduce-two{
	color:#333;
	font-family:"微软雅黑";
}
.introduce ul.intmodul-two{
	list-style:none;
	width:231px;
	height:100%;
	line-height:28px;
	float:left;
}
.introduce ul li a{
	font-family:"微软雅黑";
	color:#333;
}
.introduce ul li a:hover{
	color:#0085D0;
	text-decoration:underline;
}
/*底部介绍结束*/
/*底部开始*/
.bottom{
	line-height:33px;
	width:100%;
	height:188px;
	color:#000;
	text-align:center;
	padding:20px 0;
	font-size:13px;
}
.bottom a{
	color:#666666;
}
.bottom .bottom-one a:hover{
	color:#0085D0;
	text-decoration:underline;
}
.bottom .bottom-two,.bottom .bottom-three,.bottom .bottom-four{
	color:#333;
}
.bottom .bottom-two a:hover,.bottom .bottom-five a:hover{
	color:#0085D0;
	text-decoration:underline;
}
/*底部结束*/
/*定位图标*/
.pos-one{
 	position:fixed;
 	right:0px;
 	bottom:170px;
}
.pos-two{
 	position:fixed;
 	right:-85px;
 	bottom:25px;
}
.pos-three{
 	position:fixed;
 	right:-25px;
 	bottom:88px;
}

.pos-four{
 	position:fixed;
 	right:-25px;
 	bottom:60px;
}
.pos-five{
 	position:fixed;
 	right:-25px;
 	bottom:30px;
 }
.pos-three:hover,.pos-four:hover,.pos-five:hover{
	position:fixed;
	right:15px;
	transition:all 0.5s;
}
/*定位图标*/